@{
    ViewBag.Title = "Welcome";
}



<div class="container">
    <div class="row">
        <h3> Hi there! </h3>
        <h4>This my first website that i developed from scratch.</h4>
    </div>
    <div class="row">
        <div class="column mar-right-5 mar-bottom-10 card">
            <h3>
                My interests:-
            </h3>
            <p>
                <button type="button" class="btn btn-default">Show Details</button>
            </p>
        </div>
        <div class="column mar-right-5 mar-bottom-10 card">
            <h3>
                My favorite tv series:-
            </h3>
            <p>
                <button type="button" class="btn btn-default">Show Details</button>
            </p>
        </div>
        <div class="column mar-bottom-10 card">
            <h3>
                My favorite gadjets:-
            </h3>
            <p>
                <button type="button" class="btn btn-default">Show Details</button>
            </p>
        </div>
    </div>
</div>
